/* header*/
#Random-logo {
    padding-left: 580px;
    padding-right: 480px;
}

::-webkit-scrollbar {
    display:none;
}

nav {
   background-color: rgb(0, 0, 0); 
}

.header-link {
    color: #f0e9dc;
}

nav li {
   display: inline-block; 
   width: 140px;
   padding-left: 40px;
   padding-right: 40px;
}

.navButton {
    color : #f0e9dc;
    background-color: black;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}




/* main*/

body {
    background-color: #666054;
    color: #f0e9dc;
    padding-left: 150px;
    padding-right: 150px;
} 

section {
    display: inline-block;
}

#left-section {
    padding-right: 350px
}

#right-section {
}

.article-box {
    width: 80%;
}

.article-pic {
    height: 220px;
    width: 220px;
    padding-left: 100px;

}

.article-text {
    height: 50px;
    width: 525px;
    text-align: center;
}



/* footer*/

footer {
    padding-left: 480px;
    padding-right: 480px;
}

#contactButton {
    color : black;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.social {
    display: inline;
    max-width: 30%;
}

#twitter {
    width: 30px;
    height: 30px;
}

#instagram {
    width: 30px;
    height: 30px;
}

#facebook {
    width: 30px;
    height: 30px;
}



/* trial*/
